:root {
	--fundo1:#ffefdd;
}
.secao1 {
	background-color: #ffefdd !important;
}
.secao2 {
	background-color: #fff7ee !important;
}
.titulo {
	color: #8D6145;
	font-weight: 700 !important;
	margin-bottom: 12px !important;
}
.dados {
	color: #8D6145;
	font-weight: 500 !important;
	margin-bottom: 7px !important;
	text-align: left !important;
}
.frase {
	color: #8D6145;
	font-weight: 600 !important;
	margin-bottom: 7px !important;
	text-align: left !important;
}
.texto {
	color: #835A40 !important;
}
.nome {
 margin-bottom: 22px !important;
}
.perfil {
	width: 20vh;
	height: 20vh;
	padding-bottom: 10px;
	border-radius: 20%;
	transition: 0.5s;
}
.perfil:hover {
	width: 25vh;
	height: 25vh;
	transition: 0.5s;
}
