* {
	font-family: Poppins !important;
}
.secao {
	padding-left: 229px;
	padding-right: 156px;
	padding-top: 58px;
	padding-bottom: 86px;
	background-color: #ffefdd !important;
}
.secao2 {
	padding-top: 87px;
	padding-bottom: 86px;
	padding-left: 10%;
	padding-right: 10%;
}
.titulo {
	color: #8D6145;
	font-size: 42px !important;
	font-weight: 600 !important;
	margin-bottom: 26px;
	text-align: center;
	justify-content: center;
}
.texto {
	color: #835A40;
}
.perfil {
	width: 20vh;
	height: 20vh;
	padding-bottom: 10px;
	border-radius: 20%;
	transition: 0.5s;
}
.perfil:hover {
	width: 25vh;
	height: 25vh;
	transition: 0.5s;
}
