.textos1{
    font-Weight: bold !important;
}

.background {
    background-color: #FFF7EE !important;
}
.imagem{
    background-image: url(https://i.imgur.com/RaVJuLr.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}

.form{
    background-color: #FFEFDD !important;
    border-radius: 20px !important;
    border: 1px solid #DFB193 !important;
}
.input {
    background-color: #FFF7EE !important;
    
}

.MuiOutlinedInput-notchedOutline{
    border: 1px solid #DFB193 !important;
}

