.textos1{
    font-Weight: bold !important;
}

.background {
    background-color: #FFF7EE !important;
    min-height: 100vh;

}
.imagem{
    background-image: url('/src/assets/login/raghavendra-mithare-cdS0S11bGoo-unsplash\ \(1\).jpg');
    background-repeat: no-repeat;
    width: 80% !important;
    min-height: 88vh;
    margin: auto;
    background-size: cover;
    background-position: center;
    object-fit: cover !important;
    border-radius: 24px !important;
}

.text-decorator-none{
    text-decoration: none;
}

.form{
    background-color: #FFEFDD !important;
    border-radius: 20px !important;
    border: 1px solid #DFB193 !important;
}
.input {
    background-color: #FFF7EE !important;
    
}

.MuiOutlinedInput-notchedOutline{
    border: 1px solid #DFB193 !important;
}

.text {
    color:#8D6145 !important;
}
.reset-link{
text-decoration: none !important;
}

.bold {
    font-weight: 600 !important;
}

.btn {
    background-color: #EA6017 !important;
    text-transform: capitalize !important;
    font-size: 1rem !important;
    border-radius: 10px !important;

}
