.textos1{
    font-Weight: bold !important;
}

.imagem{
    background-image: url(https://i.imgur.com/RaVJuLr.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}