.footer{
  background-color: #996D51 !important;
  height: 200px !important;
  color: #FFEFDD !important;
  padding: 20px 0px !important;
}

.redes{
  font-size: 56px !important;
}

.navFooter{
  color:  #FFEFDD !important;
}