:root {
	--toastify-color-error: #e74c3c;
	--toastify-color-info: #3498db;
	--toastify-color-light: var(--rosa4) !important;
	--toastify-color-progress-error: var(--toastify-color-error);
	--toastify-color-progress-info: var(--toastify-color-info);
	--toastify-color-progress-success: var(--toastify-color-success);
	--toastify-color-progress-warning: var(--toastify-color-warning);
	--toastify-color-success: var(--laranja) !important;
	--toastify-color-transparent: rgba(255, 255, 255, 0.7);
	--toastify-color-warning: #f1c40f;
	--toastify-icon-color-error: var(--toastify-color-error);
	--toastify-icon-color-info: var(--toastify-color-info);
	--toastify-icon-color-success: var(--toastify-color-success);
	--toastify-icon-color-warning: var(--toastify-color-warning);
	--toastify-spinner-color-empty-area: var(--rosa4) !important;
	--toastify-spinner-color: var(--marrom1) !important;
	--toastify-text-color-error: var(--marrom2) !important;
	--toastify-text-color-info: var(--marrom2) !important;
	--toastify-text-color-light: var(--marrom1) !important;
	--toastify-text-color-success: var(--marrom2) !important;
	--toastify-text-color-warning: var(--marrom2) !important;
	--toastify-toast-width: 250px !important;
	--laranja: #EA6017;
	--marrom1: #8D6145;
	--marrom2: #835A40;
	--marrom3: #996D51;
	--marrom4: #DFB193;
	--rosa1: #ffefdd;
	--rosa2: #fff7ee;
	--rosa3: #FFEFDD;
	--rosa4: #FFF7EE;
}
* {
	font-family: Poppins !important;
}
.MuiAppBar-root {
	box-shadow: none !important;
}
.MuiPopover-paper {
  border-radius: 8px !important;
  border: 1px solid var(--marrom1) !important;
}
.MuiMenu-list {
  background-color: var(--rosa2) !important;
}
.MuiMenu-paper {
 /* top: 55px !important; */
 transform-origin: 28px 24px 0px;
}

a, .MuiInputLabel-root  {
	color: var(--marrom3) !important;
}

.MuiInputBase-root{
	background-color: var(--rosa4) !important;
}

.MuiOutlinedInput-notchedOutline{
	border: 1px solid var(--marrom4) !important;
}

.secao1 {
	background-color: var(--rosa1) !important;
}
.secao2 {
	background-color: var(--rosa2) !important;
}
.secao3 {
	background-color: var(--rosa3) !important;
}
.titulo {
	color: var(--marrom1);
	font-weight: 700 !important;
	padding-bottom: 12px !important;
}
.texto, .visibilidadeSenha {
	color: var(--marrom2) !important;
}
body {
	margin: 0;
}
.Toastify__toast {
	border: 1px solid var(--marrom1);
}
