* {
	font-family: Poppins !important;
}
.MuiTabs-flexContainer {
	flex-wrap: wrap;
	gap: 1rem;
}
.filtroCategoriaLista {
	padding-bottom: 102px;
}
.filtroCategoria {
	color: var(--marrom2) !important;
	background-color: var(--rosa3) !important;
	border: 1px solid var(--marrom3) !important;
	border-radius: 20px !important;
	text-transform: capitalize !important;
	font-weight: 400 !important;
	padding: 6.5px 66px !important;
	opacity: 100% !important;
}
.listaCategoria {
	background-color: var(--rosa2) !important;
	display: block !important;
	padding-bottom: 102px !important;
	padding-left: 87px !important;
	padding-right: 87px !important;
	padding-top: 58px !important;
	position: static !important;
}
.filtroProduto {
	width: 224px;
	height: 395px;
	background-color: var(--rosa2) !important;
	border-radius: 8px !important;
}
.filtroProdutoSecao1 {
	padding-left: 23px;
	padding-top: 20px;
}
.filtroProdutoImagem {
	height: 216px;
	border-radius: 8px;
}
.filtroProdutoPropriedade {
	border-radius: 26px 26px 8px 8px;
	height: 213px;
	margin-top: -54px;
	background-color: var(--rosa4) !important;
	position: relative;
}
.filtroProdutoCategoria {
	color: var(--marrom2);
	font-weight: 600 !important;
	font-size: 14px !important;
	padding-top: 20px;
	padding-left: 23px;
}
.filtroProdutoNome {
	color: var(--marrom2);
	font-weight: 600 !important;
	font-size: 18px !important;
	padding-top: 7px;
	padding-left: 23px;
}
.filtroProdutoPreco {
	color: var(--laranja);
	font-weight: 700 !important;
	font-size: 20px !important;
	padding-left: 23px !important;
	padding-top: 9px !important;
}
.filtroProdutoUsuario {
	color: var(--marrom3);
	font-weight: 400 !important;
	font-size: 12px !important;
	padding-top: 9px;
	padding-left: 23px;
}
.filtroProdutoComprar {
	background-color: var(--laranja) !important;
	color: var(--rosa3) !important;
	font-weight: 400 !important;
	font-size: 12px !important;
	margin-top: 7px !important;
	margin-left: 17px !important;
	margin-bottom: 20px !important;
}
