.text-decorator-none {
	color: #EA6017 !important;
}
.listaProdutos {
	background-color: #FFEFDD;
	padding-left: 126px;
	padding-right: 126px;
}
.categoriasProduto {
	font-size: 14px !important;
	font-weight: 600 !important;
	color: #835A40 !important;
	margin-bottom: 7px !important;
	padding-left: 23px !important;
	padding-top: 20px !important;
}
.nomeProduto {
	padding-left: 23px !important;
	font-size: 18px !important;
	font-weight: 600 !important;
	color: #835A40 !important;
	margin-bottom: 19px !important;
}
.precoProduto {
	font-size: 18px !important;
	font-weight: 700 !important;
	color: #EA6017 !important;
	padding-left: 23px !important;
	margin-top: -10px !important;
}
.editarProduto {
	font-size: 24px !important;
	font-weight: 700 !important;
	color: #EA6017 !important;
	text-align: right !important;
	margin-top: -12px !important;
	padding-right: 10px !important;
}
.produto {
	border-radius: 8px;
	max-width: 224px !important;
	height: 216px !important;
}
.conteudoProduto {
	border-radius: 26px 26px 8px 8px !important;
}

.produtoMedia {
	border-radius: 8px !important
}
