.image-prod{
    width: 100% !important;
    object-fit: cover !important;
    max-height: 50vh !important;
    object-position: center !important;
    border-radius: 36px !important;
    margin: auto !important;
}

.text-prod{
    padding: 0 !important;
    color: var(--marrom2) !important;
}

.background-prod{
    background-color: var(--rosa2) !important;
}
.tag-categoria{
    border: 1px solid var(--marrom1) !important;
    border-radius: 8px !important;
    padding: 2px 10px !important;
}

.preco {
    color: var(--laranja) !important;
}

.pd-top-20{
    padding-top: 20px !important;
}