.imagemProduto {
    background-image: url(https://images.unsplash.com/photo-1601493700631-2b16ec4b4716?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    width: 80vh; 
    min-height: 50vh; 
    background-size: 60vh;
    background-position:  center;
    margin: 5vh;    

}